@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</s></h1>
    <p>Watch <a href="https://youtu.be/7LkRipTlTzc?si=tO7sjqYfGAIdXYqM">this video</a> to learn CI/CD with GitHub Actions.</p>
</div>
